label, select, button {
display: block;
margin: 10px 0;
}
textarea {
    width: 100%;
    margin-top: 10px;
}
button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
